@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&display=swap');
*{
    margin:0;
    padding:0;
    --black:#2D2D2D;
    --white:#FFFFFF;
    --gray:#ABABAB;
    --red:#F20C0C;
    --gold:#F2A81D;
    --white-gold:#F2E3B3;
}

/* Color theme preference */
@media(prefers-color-scheme: light){
    :root{
        --primary-color:var(--white);
        --secondary-color:var(--black);
        --tertiary-color:var(--gray);
    }
}
@media(prefers-color-scheme: dark){
    :root{
        --primary-color:var(--black);
        --secondary-color:var(--white);
        --tertiary-color:var(--gray);
    }
}

/* Global Elements */
body[data-theme='light'] {
    --primary-color:var(--white);
    --secondary-color:var(--black);
    --tertiary-color:var(--gray);
}
body[data-theme='dark']{
    --primary-color:var(--black);
    --secondary-color:var(--white);
    --tertiary-color:var(--gray);
}
body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color:var(--primary-color);
}
h1{
    font-size:3.75rem;
}
.button-container{
    margin:0 auto;
    width:6.25rem;
}
button{
    width:6.25rem;
    padding:0.3125rem;
    background-color:var(--primary-color);
    color:var(--secondary-color);
    border:2px solid var(--tertiary-color);
    border-radius:4px;
    cursor:pointer;
}
